.navbar ul{
    display: flex;
    justify-content: center;
}
.navbar ul li{
    list-style-type: none;
    margin:0 50px;
    font-size: 1.2em;
    font-weight: bold;

}
.navbar ul li:hover,.navbar ul li:active,.navbar ul li:focus{
    color:#0070f3;
    
}